@font-face {
  font-family: 'kerian-icon';
  src:  url('fonts/kerian-icon.eot?s4ll8l');
  src:  url('fonts/kerian-icon.eot?s4ll8l#iefix') format('embedded-opentype'),
    url('fonts/kerian-icon.ttf?s4ll8l') format('truetype'),
    url('fonts/kerian-icon.woff?s4ll8l') format('woff'),
    url('fonts/kerian-icon.svg?s4ll8l#kerian-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kerian-icon-"], [class*=" kerian-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kerian-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kerian-icon-analysis:before {
  content: "\e900";
}
.kerian-icon-analysis-1:before {
  content: "\e901";
}
.kerian-icon-approve:before {
  content: "\e902";
}
.kerian-icon-attach:before {
  content: "\e903";
}
.kerian-icon-attractive:before {
  content: "\e904";
}
.kerian-icon-brainstorming:before {
  content: "\e905";
}
.kerian-icon-broken-link:before {
  content: "\e906";
}
.kerian-icon-chat:before {
  content: "\e907";
}
.kerian-icon-chronometer:before {
  content: "\e908";
}
.kerian-icon-compass:before {
  content: "\e909";
}
.kerian-icon-competition:before {
  content: "\e90a";
}
.kerian-icon-content:before {
  content: "\e90b";
}
.kerian-icon-design-tool:before {
  content: "\e90c";
}
.kerian-icon-grid:before {
  content: "\e90d";
}
.kerian-icon-headphones:before {
  content: "\e90e";
}
.kerian-icon-html:before {
  content: "\e90f";
}
.kerian-icon-image:before {
  content: "\e910";
}
.kerian-icon-layout:before {
  content: "\e911";
}
.kerian-icon-loading:before {
  content: "\e912";
}
.kerian-icon-login:before {
  content: "\e913";
}
.kerian-icon-pantone:before {
  content: "\e914";
}
.kerian-icon-paper-plane:before {
  content: "\e915";
}
.kerian-icon-photo-camera:before {
  content: "\e916";
}
.kerian-icon-piggy-bank:before {
  content: "\e917";
}
.kerian-icon-pipette:before {
  content: "\e918";
}
.kerian-icon-pixel:before {
  content: "\e919";
}
.kerian-icon-placeholder:before {
  content: "\e91a";
}
.kerian-icon-planning:before {
  content: "\e91b";
}
.kerian-icon-promotion:before {
  content: "\e91c";
}
.kerian-icon-pyramid:before {
  content: "\e91d";
}
.kerian-icon-quality:before {
  content: "\e91e";
}
.kerian-icon-responsive:before {
  content: "\e91f";
}
.kerian-icon-schedule:before {
  content: "\e920";
}
.kerian-icon-search:before {
  content: "\e921";
}
.kerian-icon-security:before {
  content: "\e922";
}
.kerian-icon-settings:before {
  content: "\e923";
}
.kerian-icon-sitemap:before {
  content: "\e924";
}
.kerian-icon-startup:before {
  content: "\e925";
}
.kerian-icon-support:before {
  content: "\e926";
}
.kerian-icon-tap:before {
  content: "\e927";
}
.kerian-icon-target:before {
  content: "\e928";
}
.kerian-icon-targeting:before {
  content: "\e929";
}
.kerian-icon-task:before {
  content: "\e92a";
}
.kerian-icon-testing:before {
  content: "\e92b";
}
.kerian-icon-text:before {
  content: "\e92c";
}
.kerian-icon-timeline:before {
  content: "\e92d";
}
.kerian-icon-tools:before {
  content: "\e92e";
}
.kerian-icon-upload:before {
  content: "\e92f";
}
.kerian-icon-vector:before {
  content: "\e930";
}
.kerian-icon-video-player:before {
  content: "\e931";
}
