/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR lidet            ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles 
* 2. miscelnious styles 
* 3. header styles 
* 4. banner styles 
* 5. about styles 
* 6. services styles 
* 7. portfolio styles 
* 8. call to action styles 
* 9. resume styles 
* 10. fun fact styles 
* 11. my skills styles 
* 12. reviews styles 
* 13. blog styles 
* 14. contact styles 
* 15. footer styles 
* 16. inner banner styles 
* 17. sidebar styles 
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/************************** 
* 1. imported styles 
***************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(../otherstyles/bootstrap/css/bootstrap.min.css);
@import url(../otherstyles/font-awesome/css/font-awesome.min.css);
@import url(../otherstyles/bootstrap-select/dist/css/bootstrap-select.min.css);
@import url(../otherstyles/fn-icon/style.css);
@import url(../otherstyles/owl.carousel-2/assets/owl.carousel.css);
@import url(../otherstyles/owl.carousel-2/assets/owl.theme.default.min.css);
@import url(../otherstyles/Magnific-Popup-master/dist/magnific-popup.css);
@import url(../otherstyles/animate.min.css);
@import url(../otherstyles/hover-min.css);
/************************** 
* 2. miscelnious styles 
***************************/
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
body {
  font-family: "Raleway";
  color: #888888;
  font-size: 15px;
  line-height: 24px;
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.sec-pad {
  padding: 100px 0;
}

.p0 {
  padding: 0 !important;
}

.pb0 {
  padding-bottom: 0;
}

.gray-pattern {
  background: #f5f5f5 url(../img/pattern.png) center center repeat;
}

.thm-btn {
  display: inline-block;
  color: #fff;
  background: #efb311;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid #efb311;
  border-radius: 30px;
  text-align: center;
  padding: 18px 48px;
  transition: all 0.4s ease;
}
.thm-btn.borderd,
.thm-btn:hover {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.thm-btn.borderd:hover {
  color: #fff;
  background: #efb311;
  border-color: #efb311;
}

.sec-title {
  margin-top: -5px;
  margin-bottom: 50px;
}
.sec-title h2,
.sec-title p {
  margin: 0;
}
.sec-title h2 {
  font-size: 38px;
  font-family: "Raleway";
  color: #222222;
  line-height: 1em;
  font-weight: 600;
}
.sec-title p {
  color: #848484;
  margin-top: 15px;
}
.sec-title.text-center .line {
  margin-left: auto;
  margin-right: auto;
}
.sec-title .line {
  display: block;
  width: 50px;
  height: 1px;
  background: #efb311;
  margin-top: 25px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #efb311;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  box-shadow: 0px 23px 42px rgba(0, 0, 0, 0.2);
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/preloader.gif);
}

/************************** 
* 3. header styles 
***************************/
.header .header-navigation .navbar-collapse.collapse {
  padding: 0;
  text-align: right;
}

.header .header-navigation.navbar {
  background-color: transparent;
  position: relative;
  min-height: auto;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 0;
}

.header .header-navigation.navbar > .container .navbar-brand,
.header .header-navigation.navbar > .container-fluid .navbar-brand {
  margin: 0;
  float: left;
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: 47px;
}

.header .header-navigation.navbar > .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}

.header .header-navigation.navbar > .container .navbar-brand img,
.header .header-navigation.navbar > .container-fluid .navbar-brand img {
  display: inline;
}

.header .header-navigation.navbar .nav.navigation-box {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.header .header-navigation.navbar .nav > li {
  padding: 14px 0px;
  float: none;
  display: inline-block;
}

.header .header-navigation.navbar .nav > li + li {
  margin-left: 45px;
}

.header .header-navigation.navbar .nav > li > a {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  padding: 0 0px;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header .header-navigation.navbar .nav > li:hover > a {
  color: #efb311;
}

.header .header-navigation.navbar .nav > li.current > a {
  color: #efb311;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 200px;
  padding: 0px 0;
  text-align: left;
  list-style: none;
  background-color: #222;
  background-clip: padding-box;
  border-top: 4px solid #efb311;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu.right-align {
  left: auto;
  right: 0;
}

.header .header-navigation.navbar .navbar-nav > li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu li {
  display: block;
  position: relative;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu li a {
  font-size: 15px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding: 8px 0;
  display: block;
  padding-left: 20px;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu li + li {
  border-top: 1px dashed #282828;
}

.header .header-navigation.navbar .navbar-nav > li > .sub-menu li:hover > a {
  background: #efb311;
  border-color: #efb311;
  position: relative;
}

.header
  .header-navigation.navbar
  .navbar-nav
  > li
  > .sub-menu
  > li
  > .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 200px;
  padding: 0px 0;
  text-align: left;
  list-style: none;
  background-color: #161616;
  background-clip: padding-box;
  border-top: 4px solid #efb311;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
  top: 0;
  left: 100%;
  margin-top: 0px;
}

.header
  .header-navigation.navbar
  .navbar-nav
  > li
  > .sub-menu
  > li:hover
  > .sub-menu {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1025px) {
  .nav li a span.phone-only {
    display: none;
  }

  .nav li a .sub-nav-toggler {
    display: none;
  }
}
@media (max-width: 1024px) {
  .nav li a .sub-nav-toggler {
    display: inline-block;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 40px;
}

.header.stricky-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  margin: 0;
  background: #222;
  padding: 0px 0;
}

.header.stricky-fixed .header-navigation.navbar .nav > li:hover > a {
  color: #efb311;
}

.header.stricky-fixed .header-navigation.navbar .nav > li {
  padding: 20px 0;
}

.header.stricky-fixed .header-navigation.navbar > .container .navbar-brand,
.header.stricky-fixed
  .header-navigation.navbar
  > .container-fluid
  .navbar-brand {
  padding: 5px 0;
}

/************************** 
* 13. blog styles 
***************************/
.single-blog-grid:hover .img-box:before {
  opacity: 1;
}
.single-blog-grid .img-box {
  position: relative;
  cursor: pointer;
}
.single-blog-grid .img-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}
.single-blog-grid .img-box .date-box {
  width: 55px;
  height: 55px;
  background: #efb311;
  color: #fff;
  font-family: "Raleway";
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: center;
  z-index: 9;
  line-height: 17px;
  font-weight: 600;
  padding-top: 10px;
}
.single-blog-grid .text-box {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
}
.single-blog-grid .text-box h3,
.single-blog-grid .text-box p {
  margin: 0;
}
.single-blog-grid .text-box h3 {
  color: #222222;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.4s ease;
}
.single-blog-grid .text-box h3:hover {
  color: #efb311;
}
.single-blog-grid .text-box .meta {
  margin-top: 5px;
  margin-bottom: 15px;
}
.single-blog-grid .text-box .meta a {
  display: inline-block;
  color: #848484;
  font-size: 14px;
  transition: all 0.4s ease;
}
.single-blog-grid .text-box .meta a:hover {
  color: #efb311;
}
.single-blog-grid .text-box .meta span.sep {
  display: inline-block;
  color: #848484;
  margin-left: 10px;
  margin-right: 10px;
}
.single-blog-grid .text-box p {
  margin-bottom: 10px;
}
.single-blog-grid .text-box a.read-more {
  color: #848484;
  transition: all 0.4s ease;
  font-weight: 600;
}
.single-blog-grid .text-box a.read-more i {
  font-size: 14px;
  margin-left: 7px;
}
.single-blog-grid .text-box a.read-more:hover {
  color: #efb311;
}

.blog-grid-page .single-blog-grid {
  margin-bottom: 30px;
}

.blog-sidebar-page .single-blog-grid {
  margin-bottom: 50px;
}

.blog-details-page .single-blog-grid .social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #d9d9d9;
  color: #848484;
  text-align: center;
  line-height: 38px;
  transition: all 0.4s ease;
}
.blog-details-page .single-blog-grid .social a + a {
  margin-left: 10px;
}
.blog-details-page .single-blog-grid .social a:hover {
  background: #efb311;
  color: #fff;
  border-color: #efb311;
}
.blog-details-page .comment-box,
.blog-details-page .leave-comment-area {
  margin-top: 70px;
}
.blog-details-page .comment-box .title,
.blog-details-page .leave-comment-area .title {
  margin-bottom: 30px;
}
.blog-details-page .comment-box .title h3,
.blog-details-page .leave-comment-area .title h3 {
  color: #222222;
  font-size: 24px;
  line-height: 1em;
  margin: 0;
}
.blog-details-page .comment-box .single-comment + .single-comment {
  margin-top: 37px;
}
.blog-details-page .comment-box .single-comment .img-box,
.blog-details-page .comment-box .single-comment .text-box {
  display: table-cell;
  vertical-align: top;
}
.blog-details-page .comment-box .single-comment .img-box {
  width: 85px;
}
.blog-details-page .comment-box .single-comment .text-box {
  padding-left: 25px;
}
.blog-details-page .comment-box .single-comment .text-box h3,
.blog-details-page .comment-box .single-comment .text-box p {
  margin: 0;
}
.blog-details-page .comment-box .single-comment .text-box h3 {
  color: #222222;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 5px;
}
.blog-details-page .comment-box .single-comment .text-box span {
  font-size: 13px;
  line-height: 1em;
}
.blog-details-page .comment-box .single-comment .text-box p {
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
}
.blog-details-page .leave-comment-area form label.error {
  display: none !important;
}
.blog-details-page .leave-comment-area form input,
.blog-details-page .leave-comment-area form textarea {
  border: 1px solid #e5e5e5;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  padding-left: 20px;
  margin-bottom: 30px;
  display: block;
}
.blog-details-page .leave-comment-area form input.error,
.blog-details-page .leave-comment-area form textarea.error {
  background: rgba(255, 0, 0, 0.3);
  border-color: rgba(255, 0, 0, 0.3);
}
.blog-details-page .leave-comment-area form textarea {
  height: 160px;
  padding-top: 10px;
}
.blog-details-page .leave-comment-area form button.thm-btn:hover {
  background: #222;
  border-color: #222;
}

.post-pagination {
  margin-top: 20px;
}
.post-pagination a {
  color: #222;
  font-size: 18px;
  transition: all 0.4s ease;
  font-weight: bold;
}
.post-pagination a + a {
  margin-left: 30px;
}
.post-pagination a.active,
.post-pagination a:hover {
  color: #efb311;
}

/************************** 
* 16. inner banner styles 
***************************/
.inner-banner {
  background: #222 url(../img/inner-banner-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 150px;
}
.inner-banner h2 {
  margin: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
.inner-banner .breadcumb {
  margin-top: 20px;
}
.inner-banner .breadcumb a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.inner-banner .breadcumb span.sep {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}

/************************** 
* 17. sidebar styles 
***************************/
.sidebar.sidebar-right {
  padding-left: 20px;
}
.sidebar.sidebar-left {
  padding-right: 20px;
}
.sidebar .single-sidebar + .single-sidebar {
  margin-top: 50px;
}
.sidebar .single-sidebar .title {
  margin-bottom: 30px;
}
.sidebar .single-sidebar .title h3 {
  margin: 0;
  color: #222222;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .single-sidebar.search-widget form {
  position: relative;
}
.sidebar .single-sidebar.search-widget input {
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
  padding-left: 20px;
  outline: none;
}
.sidebar .single-sidebar.search-widget button {
  background: #efb311;
  color: #fff;
  font-size: 17px;
  width: 80px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar .single-sidebar.category-widget ul.category-list,
.sidebar .single-sidebar.category-widget ul.category-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .single-sidebar.category-widget ul.category-list {
  margin-top: -10px;
}
.sidebar .single-sidebar.category-widget ul.category-list li + li {
  margin-top: 10px;
}
.sidebar .single-sidebar.category-widget ul.category-list li a {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.sidebar .single-sidebar.category-widget ul.category-list li a:hover {
  color: #efb311;
}
.sidebar .single-sidebar.archive-widget ul.archive-list,
.sidebar .single-sidebar.archive-widget ul.archive-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .single-sidebar.archive-widget ul.archive-list {
  margin-top: -10px;
}
.sidebar .single-sidebar.archive-widget ul.archive-list li + li {
  margin-top: 10px;
}
.sidebar .single-sidebar.archive-widget ul.archive-list li a {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.sidebar .single-sidebar.archive-widget ul.archive-list li a:hover {
  color: #efb311;
}
.sidebar
  .single-sidebar.latest-post-widget
  .single-latest-post
  + .single-latest-post {
  margin-top: 25px;
}
.sidebar
  .single-sidebar.latest-post-widget
  .single-latest-post:hover
  .img-box:before {
  opacity: 1;
}
.sidebar .single-sidebar.latest-post-widget .single-latest-post .img-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}
.sidebar
  .single-sidebar.latest-post-widget
  .single-latest-post
  .img-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}
.sidebar .single-sidebar.latest-post-widget .single-latest-post h3,
.sidebar .single-sidebar.latest-post-widget .single-latest-post p {
  margin: 0;
}
.sidebar .single-sidebar.latest-post-widget .single-latest-post h3 {
  color: #222222;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.sidebar .single-sidebar.latest-post-widget .single-latest-post h3:hover {
  color: #efb311;
}
.sidebar .single-sidebar.latest-post-widget .single-latest-post p {
  color: #848484;
  font-size: 13px;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
